# Node
node_modules/
ui-tests/node_modules/

# Playwright
ui-tests/playwright-report/
ui-tests/test-results/
ui-tests/blob-report/

# Python
__pycache__/
*.pyc
.pytest_cache/
api-tests/.pytest_cache/
api-tests/report.html
api-tests/assets/


# OSs
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
